<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.koitharu.kotatsu">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:name="org.koitharu.kotatsu.KotatsuApp"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">
		<activity android:name=".ui.main.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
				android:name="android.app.default_searchable"
				android:value=".ui.search.SearchActivity" />
		</activity>
		<activity android:name=".ui.details.MangaDetailsActivity">
			<intent-filter>
				<action android:name="${applicationId}.action.VIEW_MANGA" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.reader.ReaderActivity" />
		<activity
			android:name=".ui.search.SearchActivity"
			android:label="@string/search" />
		<activity
			android:name=".ui.settings.SettingsActivity"
			android:label="@string/settings" />
		<activity
			android:name=".ui.reader.SimpleSettingsActivity"
			android:label="@string/settings" />

		<service
			android:name=".ui.download.DownloadService"
			android:foregroundServiceType="dataSync" />
		<service android:name=".ui.settings.AppUpdateService" />

		<provider
			android:name=".ui.search.MangaSuggestionsProvider"
			android:authorities="${applicationId}.MangaSuggestionsProvider" />
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.files"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/filepaths" />
		</provider>

	</application>

</manifest>