<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.koitharu.kotatsu">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<application
		android:name="org.koitharu.kotatsu.KotatsuApp"
		android:allowBackup="true"
		android:fullBackupContent="@xml/backup_descriptor"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true"
		tools:ignore="UnusedAttribute">
		<activity android:name=".ui.list.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data
				android:name="android.app.default_searchable"
				android:value=".ui.search.SearchActivity" />
		</activity>
		<activity android:name=".ui.details.MangaDetailsActivity">
			<intent-filter>
				<action android:name="${applicationId}.action.VIEW_MANGA" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.reader.ReaderActivity" />
		<activity
			android:name=".ui.search.SearchActivity"
			android:label="@string/search" />
		<activity
			android:name=".ui.settings.SettingsActivity"
			android:label="@string/settings" />
		<activity
			android:name=".ui.reader.SimpleSettingsActivity"
			android:label="@string/settings">
			<intent-filter>
				<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.browser.BrowserActivity" />
		<activity
			android:name=".ui.utils.CrashActivity"
			android:label="@string/error_occurred"
			android:theme="@android:style/Theme.DeviceDefault.Dialog"
			android:windowSoftInputMode="stateAlwaysHidden" />
		<activity
			android:name="org.koitharu.kotatsu.ui.list.favourites.categories.CategoriesActivity"
			android:label="@string/favourites_categories"
			android:windowSoftInputMode="stateAlwaysHidden" />
		<activity
			android:name=".ui.widget.shelf.ShelfConfigActivity"
			android:label="@string/manga_shelf">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<activity android:name=".ui.search.global.GlobalSearchActivity"
			android:label="@string/search" />

		<service
			android:name=".ui.download.DownloadService"
			android:foregroundServiceType="dataSync" />
		<service android:name=".ui.settings.AppUpdateService" />
		<service
			android:name=".ui.widget.shelf.ShelfWidgetService"
			android:permission="android.permission.BIND_REMOTEVIEWS" />
		<service
			android:name=".ui.widget.recent.RecentWidgetService"
			android:permission="android.permission.BIND_REMOTEVIEWS" />

		<provider
			android:name=".ui.search.MangaSuggestionsProvider"
			android:authorities="${applicationId}.MangaSuggestionsProvider"
			android:exported="false" />
		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.files"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/filepaths" />
		</provider>

		<receiver
			android:name=".ui.widget.shelf.ShelfWidgetProvider"
			android:label="@string/manga_shelf">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_shelf" />
		</receiver>
		<receiver
			android:name=".ui.widget.recent.RecentWidgetProvider"
			android:label="@string/recent_manga">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_recent" />
		</receiver>

	</application>

</manifest>