name: Release

on:
  pull_request_target:
    types:
      - closed
    branches:
      - main
  workflow_dispatch: # Manual trigger

env:
  VERSION: '9.2.0'

jobs:
    build:
        name: Release
        runs-on: ubuntu-latest

        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          SIGNING_KEY_ALIAS: ${{ secrets.SIGNING_KEY_ALIAS }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v5

            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                  java-version: '17'
                  distribution: 'temurin'

            - name: Cache Gradle
              uses: actions/cache@v3
              with:
                path: |
                  ~/.gradle/caches
                  ~/.gradle/wrapper
                key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
                restore-keys: |
                  ${{ runner.os }}-gradle

            - name: Grant execute permission for gradlew
              run: chmod +x gradlew

            - name: Run Unit Tests
              run: ./gradlew testDebugUnitTest --no-daemon

            - name: Run Lint
              run: ./gradlew lint
   
            - name: Bump Version
              uses: chkfung/android-version-actions@v1.1
              with:
                gradlePath: app/build.gradle
                versionCode: ${{ github.run_number }}
                versionName: v${{ env.VERSION }}.${{ github.run_number }}

            - name: Build release APK
              run: ./gradlew assembleRelease -PSIGNING_KEY_ALIAS=$SIGNING_KEY_ALIAS -PKEYSTORE_PASSWORD=$KEYSTORE_PASSWORD -PKEYSTORE_FILE=./key -PSIGNING_KEY_PASSWORD=$SIGNING_KEY_PASSWORD
            
            - name: Get release file apk path
              id: releaseApkArm64v8
              run: echo "apkfileArm64v8=$(find app/build/outputs/apk/release/app-arm64-v8a-release.apk)" >> $GITHUB_OUTPUT

            - name: Get release file apk path
              id: releaseApkArmeabiv7a
              run: echo "apkfileArmeabiv7a=$(find app/build/outputs/apk/release/app-armeabi-v7a-release.apk)" >> $GITHUB_OUTPUT

            - name: Upload Release APK Arm64v8
              uses: actions/upload-artifact@v4
              with:
                name: release-apk-Arm64v8
                path: ${{ steps.releaseApkArm64v8.outputs.apkfileArm64v8 }}

            - name: Upload Release APK Armeabiv7a
              uses: actions/upload-artifact@v4
              with:
                name: release-apk-Armeabiv7a
                path: ${{ steps.releaseApkArmeabiv7a.outputs.apkfileArmeabiv7a }}

            - name: Generate Release Notes
              id: generate-release-notes
              uses: actions/github-script@v7
              with:
                github-token: ${{ github.token }}
                result-encoding: string
                script: |
                  const { data } = await github.rest.repos.generateReleaseNotes({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    tag_name: 'v${{ env.VERSION }}.${{ github.run_number }}',
                    target_commitish: '${{ github.sha }}',
                    previous_tag_name: '${{ steps.previous-release.outputs.tag_name }}',
                  })
                  return data.body

            - name: Create release
              id: create_release
              uses: actions/create-release@v1
              with:
                release_name: v${{ env.VERSION }}.${{ github.run_number }}
                tag_name: v${{ env.VERSION }}.${{ github.run_number }}
                draft: false
                prerelease: false
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Upload Release APK Arm64v8c
              id: upload_release_asset_Arm64v8c
              uses: actions/upload-release-asset@v1.0.1
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                upload_url: ${{ steps.create_release.outputs.upload_url }}
                asset_path: ${{ steps.releaseApkArm64v8.outputs.apkfileArm64v8 }}
                asset_name: Kotatsu_arm64v8_v${{ env.VERSION }}.${{ github.run_number }}.apk
                asset_content_type: application/zip

            - name: Upload Release APK Armeabiv7a
              id: upload_release_asset_Armeabiv7a
              uses: actions/upload-release-asset@v1.0.1
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                upload_url: ${{ steps.create_release.outputs.upload_url }}
                asset_path: ${{ steps.releaseApkArmeabiv7a.outputs.apkfileArmeabiv7a }}
                asset_name: Kotatsu_armeabiv7a_v${{ env.VERSION }}.${{ github.run_number }}.apk
                asset_content_type: application/zip